<%= simple_form_for @message, :url => {:action => :create},
															:remote => true,
															:html => {:class => "form-horizontal"} do |f| %>
<div class="form-inputs">
	<%= f.input :group_id, collection: @users, required: true, label: "To:" %>
  <%= f.input :body, required: true %>
</div>
  <div class="form-actions">
  <%= f.button :submit, "Send" %>
</div>
<% end %>