<div class="container">
	<div id="top_header">
		<h1>Inbox</h1>
		<a class="btn" id="new_message_btn" style="float:right">New Message</a>
	</div>
	<div class="span3">
    <ul class="nav nav-list">
      <li class="active"><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdowns</a></li>
      <li class=""><a href="#buttonGroups"><i class="icon-chevron-right"></i> Button groups</a></li>
      <li class=""><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Button dropdowns</a></li>
      <li class="active"><a href="#navs"><i class="icon-chevron-right"></i> Navs</a></li>
      <li class=""><a href="#navbar"><i class="icon-chevron-right"></i> Navbar</a></li>
    </ul>
  </div>
  <div class="span9">

  </div>
</div>