<div class="container well">
	<div id="top_header">
		<h1>Inbox</h1>
		<p class="btn" style="float:right">New Message</p>
	</div>
	<div class="row">
		<div class="span3" id="message_box">
			<h2>Messages</h2>
		</div>
		<div class="span8" id="messages">
			<p>Actual messages</p>
		</div>
	</div>
</div>