<div id="singin_header" class="well row show-grid">
	<div class="row-fluid">
		<div class="span12">
			<strong>Sign up as an Employee/Intern on OnBoarding Program</strong>
		</div>
	</div>

	<%= simple_form_for @user, :html => {:id => "signin_form"} do |f| %>
	  <%= f.input :email, required: true, placeholder:, "Email" %>
	  <%= f.input :password, label: 'Password', input_html: { maxlength: 15 }, required: true,  placeholder: "Password" %>
	  <%= f.button :submit, "Sign In" %>
	<% end %>
</div>