<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h3>Dear user,</h3>
			<p>
				You are invited to join OnBoarding. To Sign up, click <a href="<%= @url %>">here</a>.
				<%= @content %>
		</p>
		<br>
		<p>Thanks for joining us and have a great day!</p>
		<br>
		<address>
			regards <br>
			OnBoarding Team
		</address>
	</body>
</html>