<div id="singin" class="well row show-grid">
	<div class="row-fluid">
		<div class="span12">
			<strong>Sign up as an Employee/Intern on OnBoarding Program</strong>
		</div>
	</div>

	<%= render 'users/form' %>
</div>