
<% if user_admin? %>
<div>	
	Summary of all Plans:
	
	<%= render 'plans/plan_summary' %>	
</div>

<% else %>

<div>
	Current Plan overview:
	
	<%= render 'plans/form'%>
	
</div>

<% end %>


<% if user_admin? %>
<div>	
	<a class="btn btn-primary btn-large" href="<%= plans_path %>/new">Create a new Plan!</a>
</div>
<% end %>
	
	