<div id="home" class="hero-unit">
	<h1 style="padding-bottom: 5%">About</h1>

	<p class="lead justify">
		OnBoarding is the entry point of an employee in the organization. The Learning curve for an individual at this stage would be the steepest compared to the rest of the duration he is in an organization. He/She would get familiarized with the people, culture, processes, systems, and technology used in the organization.
	</p>

	<h3>Developed by:</h3>
	<a href="http://www.cse.iitb.ac.in/~amanmangal" target="_blank">Aman Mangal</a> <br>
	<a href="https://www.facebook.com/sivakumar.tangudu" target="_blank">Siva Kumar Tangudu</a>
</div>
