<% @home_active = "active" %>

<div id="home" class="hero-unit">
	<h1>Welcome to OnBoarding</h1>
	<div id="left_home">
		<p>
			<span class="badge badge-info">1</span>
			Onboarding made easy and personalised
		</p>
		<p>
			<span class="badge badge-info">2</span>
			In built templates for plans
		</p>
		<p>
			<span class="badge badge-info">3</span>
			Reminder emails
		</p>
		<p>
			<span class="badge badge-info">4</span>
			Quick Overview of plans
		</p>
		<p>
			<span class="badge badge-info">5</span>
			Private chat through messages
		</p>
	</div>

	<div id="right_home">
		<a class="btn btn-primary btn-large" href="<%= signin_path %>">Sign In here</a>
	</div>
</div>