<div id="contact" class="hero-unit">
  <h1 style="padding-bottom: 5%">Invitation</h1>

  <% if flash[:message] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Invitation sent!</strong> 
    </div>
  <% end %>

  <%= render "invitations/form" %>
</div>