<li class="span4">
  <a href="#" class="thumbnail">
    <%= task_template.title %><br>
    <a onclick="selectedTaskTemplate(<%= task_template.id %>);" id="thumbnail-id-<%= task_template.id %>">select</a>
  </a>
</li>

