/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 40px;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  /*float: right;*/
  margin-right: 2%;
  font-weight: bold;
  color: #EEA;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* Special grid styles
-------------------------------------------------- */
.show-grid {
/*  margin-top: 10px;*/
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #da7;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid [class*="span"]:hover {
  background-color: #fa7;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
  background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
  background-color: #999;
}

/* custom css */
#signin_header {
  margin-left: 17%;
  margin-right: 15%;
  padding-top: 2%;
}

#signin_form {
  padding-top:3%;
  margin-left: 20%;
  margin-right: 20%;
}

.signin_btn {
  margin-left: 20%;
  margin-right: 20%;
}

#user_date_of_birth_1i {
  width: 70px;
}

#user_date_of_birth_2i {
  width: 70px;
}

#user_date_of_birth_3i {
  width: 70px;
}

/* home page css */
#home {
  margin-left: 15%;
  margin-right: 15%;
}

#left_home {
  padding-left: 10%;
  padding-top: 5%;
}

#right_home {
  padding-left: 18%;
  padding-top: 2%;
}

/* contact page */
#contact_submit {
  padding-left: 20%;
  padding-top: 2%;
}

#contact {
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 10%;
}

/* About page */
.justify {
 text-align: justify;
}

/* sign in page */
.myalert {
  text-align: center;
}

/* messages */
#top_header {
  border-bottom: solid #e3e3e3;
}

#message_box {
  border-right: solid #e3e3e3;
}

#messgages {

}