<h2>Select pre-defined Templates for <%= @plan.title %></h2>

<div>
<ul class="thumbnails">
  <%= render @task_templates %>
</ul>
</div><br>
<div>
	<button type="submit" onclick="submitSelectedTemplates();">Continue</button>
</div>

<script type="application/javascript">
    var selectedIndices = new Array();
	function selectedTaskTemplate(selectedIndex) {
		selectedIndices[selectedIndices.length] = selectedIndex;
		document.getElementById('thumbnail-id-' + selectedIndex).hidden = true;	
		document.getElementById('thumbnail-box-' + selectedIndex).style.background = "black";	
	}	
	
	function submitSelectedTemplates() {		
		//window.location = 'plans/modify?selectedTemplates=' + selectedIndices;
		$.cookie('selected_templates', selectedIndices);
		window.location = 'plans/modify'
	}
</script>


