<div id="contact" class="hero-unit">
	<h1 style="padding-bottom: 5%">Contact us</h1>

	<% if flash[:success] %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>Thank you!</strong> We will get back to you as soon as possible.
		</div>
	<% end %>

	<%= render "suggestions/form" %>
</div>