<% if flash[:type] %>
	<div class="alert alert-<%= flash[:type] %>">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong><%= flash[:type] %>! </strong> <%= flash[:message]%> 
	</div>
<% end %>